/*LOGO */

.logo {
    margin: 1.063rem 76.063rem;
    margin-left: 8.75rem;
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    font-size: 1.563rem;
    width: 100%;
    color: white;
    
    
}